/.phpunit.cache
/node_modules
/public/ableaudio
/public/ableaudiotracks
/public/ablevids
/public/ablelvids
/public/cv
/public/jobs
/public/video
/public/conditions
/public/upload
/public/uploads
/public/build
/public/hot
/public/itiloverview
/public/fontawesome6
/public/bootstrapfourfivetwo
/public/bootstrapfouroneone
/public/bootstrapfourthreeone
/public/images
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.xlsx
.pdf
/public/**/*.mp4
/public/**/*.mp3
/bootstrap/cache/
/bootstrap/



/resources/views/Home/resources/
.phpactor.json
.phpunit.result.cache
.phpstorm.meta.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
_ide_helper.php
/.fleet
/.idea
/.nova
/.vscode
/.zed
/#MyResourcesForARebuild
