{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}American Football{% endif %}  {% endblock %}
{% block body %}
{% if user %}
<!--BODY-->
<div class="container" align="left">
<div class="container" align="left" >
  <h3 align="center">
  American Football <br>
  See below why PMWay believes this
  <h3 align="center">American Football </h3>
  <p align="center">See below why PMWay believes this
    incredible game is<br>
    &nbsp;<a href="/cmmi" target="_blank">CM Level 2+ in action!<br>
    </a> Also see why being &quot;Agile&quot; at CM L1 is actually nowhere.</p>
  <hr>
  <!--
<div align="center">
<div class="embed-responsive embed-responsive-16by9" style="height: 100 %; width: 300px; ">
<iframe width="560" height="315" src="https://www.youtube.com/embed/UWy0J3jFzTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
	<p align="center">The Super Bowl 53 (February 2019):  Patriots and Rams</p>
<p align="center">
		<img alt="" class="img-fluid" src="/images/team.png"><img alt="" class="img-fluid" src="/images/teampullingtogether.png"></p>
</div>-->

  <p align="center"><a href="/home/superbowl" target="_blank">Click the NFL Logo below to watch the
    2019 Super Bowl 53 (LIII) game!<br>
    <br>
    <br>
    <br>
    <img alt="" class="img-fluid" src="/images/nfl-logo.png"  ></a></p>
  <br>
  <br>
  <p align="center">TEAM:  Together (following the right processes) We Achieve More!</p>
  <hr>
  <a name="AF"></a>
  <h5>As an illustrative example see below why (PMWay believes) American
    Football is
    CM in Action!</h5>
  <p><i>Note Capability Maturity (CM) is based on the latest model from the Carnegie Mellon University called <a href="/home/carousel?slide=5" target="_blank">Capability Maturity Model integrated</a>.</i></p>
  <p>American Football is an amazing sport and excellent vehicle or
    'metaphor' to show us the correct way to work together
    (as a group of professionals who share the same goals) towards CMMi
    Level 2 and upwards.&nbsp;<br>
    <a href="/home/gamestats" target="_blank"><u>Showing us the correct way to work together towards improved performance
    &quot;STATS&quot;.&nbsp; </u></a><br>
    American Football is CMMi Level 2+ in action!</p>
  <h5>Why? Because American Football is played on a ruler!<br>
  </h5>
  <p align="center"><img alt="" class="img-fluid" src="/images/ruler1.png" ><br>
    <br>
    <img alt="" class="img-fluid" src="/images/grassfield.jpg" ></p>
  <p align="center">&nbsp;&nbsp;&nbsp;<img alt="Football Field" class="img-fluid" src=
        "/images/football-diagram1.gif" ></p>
  <p align="center"><img alt="" class="img-fluid" src="/images/redskinsfield.jpg" ></p>
  <p align="center">Remember.</p>
  <p align="center"><img alt="" class="img-fluid" src="/images/gg_measure1.png" ></p>
  <p>You may say that this sport is like any other, however I would like
    to point out that I believe American Football has taken an amazing
    contact game (with its tactics, inherent challenges and conflict etc.)
    and purified it to a much higher level of maturity than most other
    sports.&nbsp; Think again of the maxim from Lord Kelvin.&nbsp; &quot;If you
    can't measure it, you can't improve it!&quot;&nbsp;<br>
    In American Football performance is measured at the level of feet and
    often the difference between <span class="auto-style11">success and
    failure is often measured in inches</span>, as a team pushes forward,
    challenged every inch of the way, towards their opponents end zone!</p>
  <p>I would like you to try and compare the description of American
    Football below with the goals of CMMi.<br>
    American Football is constructive conflict and team effort towards the
    achievement of a particular type of goal - in this case its called a
    &quot;touchdown!&quot; or annually the &quot;Super Bowl!&quot;&nbsp;<br>
    And ultimately &quot;to become an honorary member of the National Football
    League's (NFL) Hall of Fame!&quot;</p>
  <p align="center"><img alt="" class="img-fluid" src="/images/huddle.jpg" ></p>
  <p align="center"><img alt="American Football" class="img-fluid" src="/images/afootball.jpg" ></p>
  <p align="center"><img alt="" class="img-fluid" src="/images/touchdownwow.png" ></p>
  <p>Use the image below to see if you can get the metaphor, seeing the
    vision and connection between Project Management Process, TEAMS,
    American Football, CMMi and the ruler now!</p>
  <a name="endzone"></a>
  <p align="center"><img alt="ProjectBall" class="img-fluid" src="/images/projectball.png" ><br>
    THE PROJECT MANAGER (QUARTERBACK) AND TEAM MUST DRIVE (DOWN BY DOWN) TO
    THE END ZONE TO FINISH THE PROJECT!</p>
  <hr />
  <h5 align="center"><a name="nb"></a>HERE IS THE IMPORTANT BIT!&nbsp;<br>
    (You may have already arrived at this understanding by yourself)<br>
  </h5>
  <h5 align="center">If not then grasp it now:<br>
    <br>
    Take a look below.</h5>
  <h5 align="center">Can you see the project schedule?<br>
  </h5>
  <br>
  <p align="center"><img alt="This is where project teams play" class="img-fluid" src="/images/gantt.jpg" ><br>
    <br>
    <strong>This is where
    project teams play!</strong></p>
  <p align="center"><strong>This is where we focus
    our game and &quot;up our stats!&quot;</strong></span></p>
  <h5 align="center">WHY?</h5>
  <h5 align="center">BECAUSE THE PROJECT SCHEDULE,<br>
    OUR PLAYING FIELD,<br>
    ALSO<br>
    LOOKS LIKE A RULER!&nbsp;</h5>
  <p align="center"><img alt="" class="img-fluid" src="/images/redskinsfield1.jpg" ></p>
  <p align="center"><strong><span class="auto-style8">Now, taking all of the
    above, <br>
    lets move to the logical conclusion.</span></strong></p>
  <p align="center">I love American Football. WHY? Because this game is
    played on a field that look exactly like a ruler!</p>
  <p align="center">Try playing American Football without a field!&nbsp; <em><br>
    I suggest (without the framework derived from the agreed playing field)
    it cannot be done!</em></p>
  <p align="center"><img alt="" class="img-fluid" src="/images/afrules.png" ></p>
  <p align="center">Try running a project plan (per the IRON TRIANGLE)
    without a schedule MANAGED AT TASK LEVEL<br>
    and without a baselined project schedule or slip line indicators!</p>
  <p align="center"><a href="/fail.php#offroad" target="_blank"><img alt=
        "Slip off the road" class="img-fluid" src="/images/car%20drives%20off%20road%20norm.png" ></a></p>
  <p align="center">A PMBOK project plan (transposed into a project schedule) tells you where you need to be (I.e. who must do what by when).
    Without a baselined schedule how do you know if you are not drifting off
    target etc.</p>
  <p align="center">PMWay suggests project management (as a core requirement
    for CMMi Level 2. compliancy) can only be done properly with the
    efficiencies and effectiveness gained from using the
    Project Management Information System (PMIS)<br>
    <br>
    <a href="/cv/paper.pdf#page=299" target="_blank">If interested read this paper which deals with the Project Management Information System as Enabler for Achieving Capability Maturity Level 2 and Above (on page 295 of the Springer Journal)</a></p>
  <br>
  <br>
  <hr />
  <h5>More information on this amazing game</h5>
  <p>The game consists of two opposing teams (I see them as two opposing
    army's&quot; with their Generals (the Quarterbacks)involved in herculean
    struggles for possession of ground (similar to the effort needed for arm
    wrestling) towards a &quot;Touchdown&quot; in the opposition teams end zone (ENEMY
    INVASION).</p>
  <a name="touchdown"></a>
  <p align="center"><img alt="Touchdown" class="img-fluid" src=
        "/images/daunte-touchdown.jpg" ></p>
  <p>This, while the opposing team does everything in their power to stop
    the other side getting into their end zone and trying to get their own
    touchdown in the other's end zone.<br>
    <br>
    To be able to &quot;sack&quot; an opposing quarterback is getting into their
    defensive pocket (their stronghold during a forward drive) and bringing
    the quarterback to the floor.&nbsp; Pressurizing the quarterback means
    the quarterback cannot make successful plays and is obstructed from
    driving to the end zone of the opposing side.</p>
  <p>You may say that this sport is like any other, however I would like
    to point out that I believe American Football has taken an amazing
    contact game (with its tactics, inherent challenges and conflict etc.)
    and purified it to a much higher level of maturity than most other
    sports.&nbsp; Think of the maxim from Lord Kelvin:&nbsp; &quot;If you can't measure it, you can't
    improve it!&quot;&nbsp; I.e. which is essentially why American Football is
    played on a ruler!</p>
  <p>Because the playing field is set up like a ruler a wealth of
    statistics is continuously collected and stored by game, team and player
    performance:</p>
  <ul class="auto-style1">
    <li class="auto-style7">Longest throw this game or in the last 20
      years</li>
    <li class="auto-style7">Most touchdown throws</li>
    <li class="auto-style7">Longest drive this game / on this field since
      2001 etc.</li>
    <li class="auto-style7">Player X has most sacks in the National
      Football League (NFL) since 2005</li>
    <li class="auto-style7">Number of sacks experienced by a specific
      quarterback (Paton Manning for example)</li>
    <li class="auto-style7">Most catches for a team (The Dallas Cowboys
      for example) wide receiver ever</li>
    <li class="auto-style7">98 yards punt return which is the 3rd longest
      punt return in the history of the League</li>
  </ul>
  <p>The list is endless.<br>
    <br>
    Because players can measure their performance on an ongoing basis this
    helps to focus and motivate quality and improvement.&nbsp;<br>
    Winning (scoring touchdown's) has matured for this National Game into a
    focus (within the tight regimen and rules of the game)<br>
    which has formed itself into &quot;The American Football (Way)!&quot;</p>
  <p class="auto-style7">Another dimension from the game, that we can
    learn from, which is highly relevant to South Africa where service
    delivery problems plague us with the lack of Transparency and Governance
    is that, because American Football is played on a playing field like a
    ruler, the many referees that oversee each game are able to act
    immediately, the second &quot;un sportsman like&quot; behavior, or &quot;dangerous or
    unethical play&quot; is seen that degrades the sport.&nbsp;&nbsp; I.e.&nbsp;as
    soon as a problem is seen, a number of referees (monitoring performance
    against the rules of the game / ruler like checkmarks on the field) will
    immediately be able to throw yellow penalty flags onto the field
    &quot;flagging&quot; the transgression.&nbsp;<br>
    <span class="auto-style11">This is possible because the referees can see
    the performance against the framework (Rules and Ruler lines) of the
    playing field!</span></p>
  <p class="auto-style7"><img alt="" class="img-fluid" src="/images/flag.png" ><br>
    <br>
    The result of &quot;bad play&quot; (in American Football) is immediate lost ground
    (i.e. 15 yard penalty to the offending team / player) which has to be
    given up and ground for which the team has dearly fought.&nbsp;<br>
    <br>
    This quickly &quot;puts ethics into&quot; the game&quot; and the result is that <span class=
        "auto-style11">teams now focus all their efforts in on the real issues</span> of American Football:&nbsp;<br>
    <span class="auto-style11">Playing the game and playing it well</span>.&nbsp; </p>
  <p>Because players can measure their performance this helps to focus and
    motivate quality and improvement.&nbsp; Winning (scoring touchdown's)
    has matured into a focus within the tight regimen and rules of the game
    (think of the framework and rules of PMP and project governance etc.)!&nbsp;
    I.e. in this case it is &quot;The American Football (Way)!&quot;</p>
  <p>Here is a birds eye of the game and some of the Offensive Formations:</p>
  <p><img alt="" class="img-fluid" src="/images/af%20from%20top.png" ></p>
  <p><img alt="" class="img-fluid" src="/images/af%20formations.png" ></p>
  <p><a name="link"></a>And here is a <a href="/home/afplays" target="_blank">link to some
    Offense Strategies</a>.</p>
  <p>Check the game out. See if you agree. See if you can see what I can
    see where the sport of American Football is a perfect example of CMMi
    Level 2. upwards in action, clearly illustrating / showing by example
    how to create a galvanization of movement towards higher levels of
    perfection and quality.&nbsp; I.e. exactly as applies to Projectization
    and as is shown in PMWay.</p>
  <hr>
  <h5>Notes:</h5>
  <p>The American Football Season runs from September to February each
    year. Essentially starting in America's Autumn, through their Winter
    (with a Christmas break) and ending with the Super bowl in February.<br>
    <br>
    As games are normally played on Sunday Night these will be available
    on Monday and Tuesday depending on where the games are played in the
    States I.e. East Coast or West Coast.
    IF YOU SIGN UP WITH NFL.COM YOU CAN STREAM ALL THE GAMES VIA THEIR WEB SITE!  I.E. EITHER AS THEY ARE BEING PLAYED OR MONTHS / YEARS LATER. QED!<br>
    Cost:  R2000 approx per year.</p>
  <p>Here in the example below, is how to work out the number of the Super
    bowl.<br>
    As stated above, for this example, in 2013 the Super bowl game number was XLVII and the game was
    set to be played after the quarterfinals in January and February:<br>
    I.e. L = 50, X = 10. If X is in front of L this must be subtracted from 50 =
    40. V = 5 and if it is on the right of the L then this is added to the
    amount you have already worked out. I.e. 40 + 5 = 45. Then I = 1.
    Therefore XLVII = 47.</p>
</div>
<br>
<br>
<br>
<!-- Content Container ends here -->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<!--BODY-->

<div class="container" align="left" >
<h3 align="center">American Football </h3>
<p align="center">See below why PMWay believes this
  incredible game is<br>
  &nbsp;<a href="/cmmi" target="_blank">CM Level 2+ in action!<br>
  </a> Also see why being &quot;Agile&quot; at CM L1 is actually nowhere.</p>
<hr>
<div align="center">
<!--
<div class="embed-responsive embed-responsive-16by9" style="height: 100 %; width: 300px; ">
<iframe width="560" height="315" src="https://www.youtube.com/embed/UWy0J3jFzTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
	<p align="center">The Super Bowl 53 (February 2019):  Patriots and Rams</p>
<p align="center">
		<img alt="" class="img-fluid" src="/images/team.png"><img alt="" class="img-fluid" src="/images/teampullingtogether.png"></p>
</div>-->

<p align="center"><a href="/home/superbowl" target="_blank">Click the NFL Logo below to watch the
  2019 Super Bowl 53 (LIII) game!<br>
  <br>
  <img alt="" class="img-fluid" src="/images/nfl-logo.png"  ></a></p>
<p align="center">TEAM:  Together (following the right processes) We Achieve More!</p>
<hr>
<a name="AF"></a>
<h5>As an illustrative example see below why (PMWay believes) American
  Football is
  CM in Action!</h5>
<p><i>Note Capability Maturity (CM) is based on the latest model from the Carnegie Mellon University called <a href="/pmway/?slide=5" target="_blank">Capability Maturity Model integrated</a>.</i></p>
<p>American Football is an amazing sport and excellent vehicle or
  'metaphor' to show us the correct way to work together
  (as a group of professionals who share the same goals) towards CMMi
  Level 2 and upwards.&nbsp;<br>
  <a href="/home/gamestats" target="_blank"><u>Showing us the correct way to work together towards improved performance
  &quot;STATS&quot;.&nbsp; </u></a><br>
  American Football is CMMi Level 2+ in action!</p>
<h5>Why? Because American Football is played on a ruler!<br>
</h5>
<p align="center"><img alt="" class="img-fluid" src="/images/ruler1.png" ><br>
  <br>
  <img alt="" class="img-fluid" src="/images/grassfield.jpg" ></p>
<p align="center">&nbsp;&nbsp;&nbsp;<img alt="Football Field" class="img-fluid" src=
        "/images/football-diagram1.gif" ></p>
<p align="center"><img alt="" class="img-fluid" src="/images/redskinsfield.jpg" ></p>
<p align="center">Remember.</p>
<p align="center"><img alt="" class="img-fluid" src="/images/gg_measure1.png" ></p>
<p>You may say that this sport is like any other, however I would like
  to point out that I believe American Football has taken an amazing
  contact game (with its tactics, inherent challenges and conflict etc.)
  and purified it to a much higher level of maturity than most other
  sports.&nbsp; Think again of the maxim from Lord Kelvin.&nbsp; &quot;If you
  can't measure it, you can't improve it!&quot;&nbsp;<br>
  In American Football performance is measured at the level of feet and
  often the difference between <span class="auto-style11">success and
  failure is often measured in inches</span>, as a team pushes forward,
  challenged every inch of the way, towards their opponents end zone!</p>
<p>I would like you to try and compare the description of American
  Football below with the goals of CMMi.<br>
  American Football is constructive conflict and team effort towards the
  achievement of a particular type of goal - in this case its called a
  &quot;touchdown!&quot; or annually the &quot;Super Bowl!&quot;&nbsp;<br>
  And ultimately &quot;to become an honorary member of the National Football
  League's (NFL) Hall of Fame!&quot;</p>
<p align="center"><img alt="" class="img-fluid" src="/images/huddle.jpg" ></p>
<p align="center"><img alt="American Football" class="img-fluid" src="/images/afootball.jpg" ></p>
<p align="center"><img alt="" class="img-fluid" src="/images/touchdownwow.png" ></p>
<p>Use the image below to see if you can get the metaphor, seeing the
  vision and connection between Project Management Process, TEAMS,
  American Football, CMMi and the ruler now!</p>
<a name="endzone"></a>
<p align="center"><img alt="ProjectBall" class="img-fluid" src="/images/projectball.png" ><br>
  THE PROJECT MANAGER (QUARTERBACK) AND TEAM MUST DRIVE (DOWN BY DOWN) TO
  THE END ZONE TO FINISH THE PROJECT!</p>
<hr />
<h5 align="center"><a name="nb"></a>HERE IS THE IMPORTANT BIT!&nbsp;<br>
  (You may have already arrived at this understanding by yourself)<br>
</h5>
<h5 align="center">If not then grasp it now:<br>
  <br>
  Take a look below.</h5>
<h5 align="center">Can you see the project schedule?<br>
</h5>
<br>
<p align="center"><img alt="This is where project teams play" class="img-fluid" src="/images/gantt.jpg" ><br>
  <br>
  <strong>This is where
  project teams play!</strong></p>
<p align="center"><strong>This is where we focus
  our game and &quot;up our stats!&quot;</strong></span></p>
<h5 align="center">WHY?</h5>
<h5 align="center">BECAUSE THE PROJECT SCHEDULE,<br>
  OUR PLAYING FIELD,<br>
  ALSO<br>
  LOOKS LIKE A RULER!&nbsp;</h5>
<p align="center"><img alt="" class="img-fluid" src="/images/redskinsfield1.jpg" ></p>
<p align="center"><strong><span class="auto-style8">Now, taking all of the
  above, <br>
  lets move to the logical conclusion.</span></strong></p>
<p align="center">I love American Football. WHY? Because this game is
  played on a field that look exactly like a ruler!</p>
<p align="center">Try playing American Football without a field!&nbsp; <em><br>
  I suggest (without the framework derived from the agreed playing field)
  it cannot be done!</em></p>
<p align="center"><img alt="" class="img-fluid" src="/images/afrules.png" ></p>
<p align="center">Try running a project plan (per the IRON TRIANGLE)
  without a schedule MANAGED AT TASK LEVEL<br>
  and without a baselined project schedule or slip line indicators!</p>
<p align="center"><a href="/fail.php#offroad" target="_blank"><img alt=
        "Slip off the road" class="img-fluid" src="/images/car%20drives%20off%20road%20norm.png" ></a></p>
<p align="center">A PMBOK project plan (transposed into a project schedule) tells you where you need to be (I.e. who must do what by when). <br>
  Without a baselined schedule how do you know where you are in relation to your goals, or if you are not drifting off
  target and should adjust behaviour to get back on track and into the game.</p>
<!--<p align="center">PMWay suggests project management (as a core requirement
		for CMMi Level 2. compliancy) can only be done properly with the
		efficiencies and effectiveness gained from using the
		Project Management Information System (PMIS)<br><br><a href="/cv/paper.pdf#page=299" target="_blank">If interested read this paper which deals with the Project Management Information System as Enabler for Achieving Capability Maturity Level 2 and Above (on page 295 of the Springer Journal)</a></p>-->
<br>
<br>
{% endif %}


{% endblock %}
