{% extends 'base.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}ANC Killing ZA{% endif %}  {% endblock %}
{% block body %}
{% if current_user and false %}

<!--BODY-->
<div class="container" align="left">
<style>
        .accordion .card-header:after {
            content: "\2013";
            font-weight: bold;
            float: right;
        }

        .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\002B";
        }
    </style>
<h3>Absolutely No Clue killing ZA</h3>
<hr>
<p align="right">PMWay's Ideas for Improvement Sandbox</p>
<hr>
<h3 align="right"><a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO"> <img class="img-fluid"  title="Click the image for proof of CM Level ZERO now!" src="/images/blogsandbox.png"></a> </h3>
<hr>
<p align="center"> <a href="/home/carousel?slide=4" target="_blank"> <br>
  <img alt="" class="img-fluid" title="click the image and find CM Level ZERO or Nowhere now!" src="/images/mountstupidsolution.jpg" onmouseover="this.src='/images/youarenowhere.png'" onmouseout="this.src='/images/mountstupidsolution.jpg'" ></a></p>
<p><i>Note that the opinions below can be hard hitting for sensitive pigeons (allusion explained as you dig around here) but what if the shoe fits? <br>
  Continue only if you are interested in PMWay's solutions to the ANC @ Level ZERO in ZA problem,
  clearly explained by the image below (i.e. killing the goose to get at
  its golden eggs).</i></p>
<p align="center"><img alt="" class="img-fluid" src="/images/goose1.jpg"><br>
  <img alt="" class="img-fluid" src="/images/goose2.png"><br>
  <br>
  <img class="img-fluid" src="/images/lordhelpus.jpg"></p>
<div align="center">
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsechess" aria-expanded="false" aria-controls=
        "collapsechess">SA firmly at <br>
Capability Maturity<br>
Level ZERO!</button>
<div class="collapse" id="collapsechess">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center"><img class="img-fluid" src="/images/lordhelpus.jpg"></h5>
      <div class="card-body text-center">From a recent speech of a minister at a state funeral in South Africa:<br>
        <i>"bla bla bla...<br>
        We will continue our struggle for transformation of our economic<br>
        ...bla bla bla."</i><br>
        <b>Seriously?... What does this utter shyte (nowhere mindset) from the mouths of these idiots actually mean?</b>, except to set the stage to steal stuff from others that they have no idea about how to create on their own!  I.e. Steal stuff created by others rather than build or gp their own! <br>
        <br>
        <a href="/pmway/?slide=4" target="_blank"><b><i>Click here for the Capability Maturity Model.  Can you find CM Level ZERO or Nowhere?</i></b></a><br>
        If you are logged into PMWay then <a href="/home/carousel?slide=4" target="_blank">click here</a><br>
        <br>
        Regardless of the Constitution rights of all in
        South Africa the ANC, driven by a rapacious greed coupled with incredible stupidity appears "hell bent" on "<a href="/homeviewpdf/resources/betrayalofthepromise.pdf">betraying the
        promise</a>" and in so doing will surely destroy South Africa. They are doing this
        by following the clearly wrong strategy that was used by Bob Mugabe in Zimbabwe, which killed Zimbawe stone dead.  This "dumber than a rock" approach, and its latest evil looting machination, is shown in the image below.<br>
        <img class="img-fluid" src="/images/stealland.png" > <br>
        The simple fact is that this nowhere short term pillaging mindset has plunged Zimbabwe into the morass and depths of economic despair and ruin, yet the "Absolutely No Clue" do not care as they grab what they can regardless of who they harm in the process! <br>
        Anyone with half a brain cell, looking over the border, will see the clear empirical evidence and result, which apparently is totally lost on these morons!<br>
        <br>
        Obviously the governing party has "Absolutely No Clue" about Economics, <a href="/pmway/?slide=2">governance or how to create real wealth</a> and sadly George Orwell, with his Animal Farm Allegory will, once again, be proven 100% correct in his observations.&nbsp;
        Communists are simply a gang of thugs in power with promises to
        their betrayed people they have no, never had any, intentions of
        keeping.<br>
        <br>
        If the last 2 and a half
        decades are anything to go
        by (<a href="/home/gamestats" target="_blank">diminishing production
        statistics</a> under the
        misguided direction of the
        ANC) we are sure to end up like
        Zimbabwe before the end of
        the 3rd decade!<br>
        <br>
        Here is
        the truth that the
        communists refuse to
        appreciate:&nbsp; "You can
        remain ignorant on economics, but the reality of economics will not ignore
        you!"<br>
        <br>
        Sadly (for the common good of the
        South African society), when there is a total lack of ethics, lack of education or understanding of the basics like economics, good governance etc., (and BBBEEcause of ANC / Communist ideological idiocy, caders are deployed into key positions where their goal is to mismanage and undermine the good governance of government entities for personal gain which is done with vigor and impunity (knowing that they will be never be prosecuted and will be protected due to ANC institutionalization of acceptance of crime without consequences and punishment)); the quote below sums up the problem: <br>
        <br>
        &quot;Arguing with an idiot is like playing chess with a pigeon! <br>
        It'll just knock over all the pieces, shit on the board, and strut about like it's won anyway." <br>
        <img alt="Playing chess with a pigeon brain" class="img-fluid" src="/images/pigeonandchess.png"><br>
        <br>
        <a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO" target="_blank" title="Click here for one of many articles from the National Press in South Africa that illustrates the facts">Click here</a> for
        a few articles that clearly demonstrates this loss of good governance in South Africa <br>
        and the fact that under
        the current dispensation we
        are lost (as the failed Rainbow
        Nation)<br>
        and are going
        &quot;<b>nowhere!</b><br>
        <br>
        <img alt="Black Rainbow" class="img-fluid" src="/images/diversity.jpg"> <br>
        <br>
        <p>Essentially "Reverse Apartheid (Apartheid back in business!)," and with the BBBEE policy introduced by the ANC, a marginalization of education, experience, intellect and skills that could have been used to build a better South
          Africa for all.  But the start of the ANC goal to undermine good governance towards
          the ultimate realization of a gangster state. Undermining the dreams of the New South Africa,
          the Rainbow Nation as
          envisaged by Nelson Mandela and
          violating its new Constitution
          towards a "<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>."</p>
        <p>For interest read Nelson Demille's latest book "The Deserter." <br>
          Set in Venezuela the
          author gives South Africans
          a taste of things to come
          and where we are headed under those driving the "gangster state."  For those who will not read this book <a href="/images/venezuela.jpg" target="_blank">click here for a cartoon showing you the problem in a few seconds</a>.<br>
          A quick glance over the border at the state of Zimbabwe, as empirical evidence of failed communist ideology, is surely enough to illustrate the clear and present danger
          for South Africa as we look at the
          result of this country at
          the hand of their own
          liberating idiots.<br>
          <img alt="" class="img-fluid" src="/images/deserter.jpg" ><br>
          <br>
          Sadly &quot;joining the dots&quot;
          from the home page of PMWay
          is what is required to fix
          South Africa, <br>
          which &quot;way&quot;
          is totally lost on those in
          government.  They do not know (or care to know) what they need to know to make the changes needed to move up and out of the "Danger / Non Existance condition" South Africa has been plunged into by thier ignorance. <br>
          <a href="/home/gamestats" target="_blank">(click here to see how survival conditions and production stats are related)</a><br>
          I.e. the Absolutely No Clue
          party are unable to pull
          South Africa up and out of
          its &quot;economic dive to
          destruction&quot; so to escape
          the inevitable crash that
          always follows the rhetoric,
          and proven lack of substance
          that is <a href="/homeviewpdf/resources/communism.pdf" target="_blank" title="Click the cartoon for the low down on Communism and why it is the FOCUS OF THE CONCENTRATED EVIL OF OUR TIME." ><u>Communism and Socialism (The FOCUS OF THE CONCENTRATED EVIL OF OUR TIME)</u>.</a><br>
          Ultimately, <b>using hate</b>, these ideologies are designed to enrich only the "gangsters in state" but never the people they cliam to want to <b>liberate</b>.<br>
          <br>
          The image below explains their
          ignorant calls for <b>"economic freedom"</b> and <b>"redistribution of wealth"</b> and <b>"expropriation of land"</b> nonsense (essentially stealing what they do not have which is contrary to the aims of the Constitution) <b>in a nut shell!</b></p>
        <p><img alt="" class="img-fluid" src="/images/socialism.jpg" ><br>
          <br>
          The question is simple:&nbsp;
          Are they morons? (who can
          possibly be educated and
          helped for the good of South
          Africa), <br>
          <b>or...</b> irredeemable (EVIL)
          criminals? <br>
          <br>
          PMWay was built in hope of the former but based on <a href="/homeviewpdf/resources/communism.pdf" target="_blank"><u>the empirical evidence</u></a> strongly suspects the latter.<br>
          <br>
          For more on this <a href="/sa">click here</a> <br>
          and find our simple solution to the problem at the bottom of the page!</p>
      </div>
      <div class="card-footer"> </div>
    </div>
  </div>
</div>
<div align="left"><br>
  <br>
  <h3>Some words to <a href="/studymethods" target="_blank">study (word clear)</a></h3>
  <p> To facilitate a deeper understanding of the issues pertaining to a
    seriuos lack of morality and ethics awareness in South Africa's <i><b>callow</b></i> governing party</p>
  <img class="img-fluid" src="/images/tipoftheiceberg.jpg" ><br>
  <hr>
  <div class="container">
    <div id="accordion" class="accordion">
      <div class="card ">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1"> <a class="card-title"> Constitution </a> </div>
        <div id="collapse1" class="card-body collapse" data-parent="#accordion">
          <h3>Constitution</h3>
          <br>
          <div align="center"> </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"> <a class="card-title"> Disrespect </a> </div>
        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
          <h3>Disrespect</h3>
          <br>
          <div align="center"> </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> <a class="card-title"> Mountebank </a> </div>
        <div id="collapse3" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Mountebank</h3>
            <br>
            <div align="center"> </div>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"> <a class="card-title"> Sophist </a> </div>
        <div id="collapse4" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Sophist</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"> <a class="card-title"> Ignoramus </a> </div>
        <div id="collapse5" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Ignoramus</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6"> <a class="card-title"> Dissapointment </a> </div>
        <div id="collapse6" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3> Dissapointment</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7"> <a class="card-title"> Specious </a> </div>
        <div id="collapse7" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Specious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8"> <a class="card-title"> Spurious </a> </div>
        <div id="collapse8" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Spurious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9"> <a class="card-title"> Apocryphal </a> </div>
        <div id="collapse9" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Apocryphal</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10"> <a class="card-title">Ersatz </a> </div>
        <div id="collapse10" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Ersatz</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11"> <a class="card-title"> Skulduggery </a> </div>
        <div id="collapse11" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Skulduggery</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12"> <a class="card-title"> Machinations </a> </div>
        <div id="collapse12" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Machinations</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13"> <a class="card-title"> Hornswoggle </a> </div>
        <div id="collapse13" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Hornswoggle</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14"> <a class="card-title"> Bellicose </a> </div>
        <div id="collapse14" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Bellicose</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15"> <a class="card-title"> Scabrous </a> </div>
        <div id="collapse15" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Scabrous</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16"> <a class="card-title"> Truculent </a> </div>
        <div id="collapse16" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Truculent</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17"> <a class="card-title"> Contumacious </a> </div>
        <div id="collapse17" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Contumacious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18"> <a class="card-title"> Greedy </a> </div>
        <div id="collapse18" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Greedy</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19"> <a class="card-title"> Rapacious </a> </div>
        <div id="collapse19" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Rapacious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20"> <a class="card-title"> Evil </a> </div>
        <div id="collapse20" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Evil</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21"> <a class="card-title"> Procrustean </a> </div>
        <div id="collapse21" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Procrusteans</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22"> <a class="card-title"> Maladministration </a> </div>
        <div id="collapse22" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Maladministration</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23"> <a class="card-title"> Maladroit </a> </div>
        <div id="collapse23" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Maladroit</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24"> <a class="card-title"> Malfeasance </a> </div>
        <div id="collapse24" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Malfeasance</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse25"> <a class="card-title"> Malefactor </a> </div>
        <div id="collapse25" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Malefactor</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse26"> <a class="card-title"> Venal </a> </div>
        <div id="collapse26" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Venal</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse27"> <a class="card-title"> Insidious </a> </div>
        <div id="collapse27" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Insidious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse28"> <a class="card-title"> Insvidious </a> </div>
        <div id="collapse28" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Invidious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse29"> <a class="card-title"> Turpitude </a> </div>
        <div id="collapse29" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Turpitude</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse30"> <a class="card-title"> Inchoate </a> </div>
        <div id="collapse30" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Inchoate</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse31"> <a class="card-title"> Callow </a> </div>
        <div id="collapse31" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Callow</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse32"> <a class="card-title"> Dillettante </a> </div>
        <div id="collapse32" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Dilletante</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse33"> <a class="card-title"> Purile </a> </div>
        <div id="collapse33" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Purile</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse34"> <a class="card-title"> Childish</a> </div>
        <div id="collapse34" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Childish</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse35"> <a class="card-title"> Immature</a> </div>
        <div id="collapse35" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Immature</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse36"> <a class="card-title"> Gaslighting</a> </div>
        <div id="collapse36" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Gaslighting</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse37"> <a class="card-title"> Terrorize</a> </div>
        <div id="collapse37" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Terrorize</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse38"> <a class="card-title">Xenophobia</a> </div>
        <div id="collapse38" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Xenophobia</h3>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <br>
    <script>
function myFunction() {
      alert("This page in PMWay web is a sandbox to investigate the problems in South Africa via a creative situational analysis.  Pictures and cartoons are used to understand the CM Level ZERO games being played. A Disclaimer applies as criticisms on this page are hard hitting! (but what if the shoe fits?). If you have a 'pigeon brain' and take offense at PMWay's observations, please leave immediately!");}

myFunction()
</script>
  </div>
</div>
<!-- Content Container ends here -->

{% endif %}





 {% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<div class="container" align="left">
  <div align="center">
    <h3>Please be <a href="/register">Registered with</a> and <a href="/register">Log into</a> PMWay to read this page</h3>
    <p align="center"><img title="You cannot argue with an idiot" src="/images/mountstupidsolutionbase.jpg"></p>
  </div>
</div>
{% endif %}









{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}
<!--BODY-->
<div class="container" align="left">
<style>
        .accordion .card-header:after {
            content: "\2013";
            font-weight: bold;
            float: right;
        }

        .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\002B";
        }
     .auto-style1 {
		 text-align: center;
	 }
    </style>
<h3>Absolutely No Clue killing ZA</h3>
<hr>
<p align="right">PMWay's Ideas for Improvement Sandbox</p>
<hr>
<h3 align="right"><a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO"> <img class="img-fluid"  title="Click the image for proof of CM Level ZERO now!" src="/images/blogsandbox.png"></a> </h3>
<hr>
<p align="center"> <a href="/pmway/?slide=4" target="_blank"> <br>
  <img alt="" class="img-fluid" title="click the image and find CM Level ZERO or Nowhere now!" src="/images/mountstupidsolution.jpg" onmouseover="this.src='/images/youarenowhere.png'" onmouseout="this.src='/images/mountstupidsolution.jpg'" ></a></p>
<p><i>Note that the opinions below can be hard hitting for sensitive pigeons (allusion explained as you dig around here) but what if the shoe fits? <br>
  Continue only if you are interested in PMWay's solutions to the ANC @ Level ZERO in ZA problem,
  clearly explained by the image below (i.e. killing the goose to get at
  its golden eggs).</i></p>
<p align="center"><img alt="" class="img-fluid" src="/images/goose1.jpg"><br>
  <img alt="" class="img-fluid" src="/images/goose2.png"><br>
  <br>
  <img class="img-fluid" src="/images/lordhelpus.jpg"></p>
<div align="center">
<button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsechess" aria-expanded="false" aria-controls=
        "collapsechess">SA firmly at <br>
Capability Maturity<br>
Level ZERO!</button>
<div class="collapse" id="collapsechess">
  <div class="container">
    <div class="card text-center">
      <h5 class="card-header" align="center"><img class="img-fluid" src="/images/lordhelpus.jpg"></h5>
      <div class="card-body text-center">From a recent speech of a minister at a state funeral in South Africa:<br>
        <i>"bla bla bla...<br>
        We will continue our struggle for transformation of our economic<br>
        ...bla bla bla."</i><br>
        <b>Seriously?... What does this utter shyte (nowhere mindset) from the mouths of these idiots actually mean?</b>, except to set the stage to steal stuff from others that they have no idea about how to create on their own!  I.e. Steal stuff created by others rather than build or gp their own! <br>
        <br>
        Regardless of the Constitution rights of all in
        South Africa the ANC, driven by a rapacious greed coupled with incredible stupidity appears "hell bent" on "<a href="/homeviewpdf/resources/betrayalofthepromise.pdf">betraying the
        promise</a>" and in so doing will surely destroy South Africa. They are doing this
        by following the clearly wrong strategy that was used by Bob Mugabe in Zimbabwe, which killed Zimbawe stone dead.  This "dumber than a rock" approach, and its latest evil looting machination, is shown in the image below.<br>
        <img class="img-fluid" src="/images/stealland.png" > <br>
        The simple fact is that this nowhere short term pillaging mindset has plunged Zimbabwe into the morass and depths of economic despair and ruin, yet the "Absolutely No Clue" do not care as they grab what they can regardless of who they harm in the process! <br>
        Anyone with half a brain cell, looking over the border, will see the clear empirical evidence and result, which apparently is totally lost on these morons!<br>
        <br>
        Obviously the governing party has "Absolutely No Clue" about Economics, <a href="/pmway/?slide=2">governance or how to create real wealth</a> and sadly George Orwell, with his Animal Farm Allegory will, once again, be proven 100% correct in his observations.&nbsp;
        Communists are simply a gang of thugs in power with promises to
        their betrayed people they have no, never had any, intentions of
        keeping.<br>
        <br>
        If the last 2 and a half
        decades are anything to go
        by (<a href="/home/gamestats" target="_blank">diminishing production
        statistics</a> under the
        misguided direction of the
        ANC) we are sure to end up like
        Zimbabwe before the end of
        the 3rd decade!<br>
        <br>
        Here is
        the truth that the
        communists refuse to
        appreciate:&nbsp; "You can
        remain ignorant on economics, but the reality of economics will not ignore
        you!"<br>
        <br>
        Sadly (for the common good of the
        South African society), when there is a total lack of ethics, lack of education or understanding of the basics like economics, good governance etc., (and BBBEEcause of ANC / Communist ideological idiocy, caders are deployed into key positions where their goal is to mismanage and undermine the good governance of government entities for personal gain which is done with vigor and impunity (knowing that they will be never be prosecuted and will be protected due to ANC institutionalization of acceptance of crime without consequences and punishment)); the quote below sums up the problem: <br>
        <br>
        &quot;Arguing with an idiot is like playing chess with a pigeon! <br>
        It'll just knock over all the pieces, shit on the board, and strut about like it's won anyway." <br>
        <img alt="Playing chess with a pigeon brain" class="img-fluid" src="/images/pigeonandchess.png"><br>
        <br>
        <a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO" target="_blank" title="Click here for one of many articles from the National Press in South Africa that illustrates the facts">Click here</a> for
        a few articles that clearly demonstrates this loss of good governance in South Africa <br>
        and the fact that under
        the current dispensation we
        are lost (as the failed Rainbow
        Nation)<br>
        and are going
        &quot;<b>nowhere!</b><br>
        <br>
        <img alt="Black Rainbow" class="img-fluid" src="/images/diversity.jpg"> <br>
        <br>
        <p>Essentially "Reverse Apartheid (Apartheid back in business!)," and with the BBBEE policy introduced by the ANC, a marginalization of education, experience, intellect and skills that could have been used to build a better South
          Africa for all.  But the start of the ANC goal to undermine good governance towards
          the ultimate realization of a gangster state. Undermining the dreams of the New South Africa,
          the Rainbow Nation as
          envisaged by Nelson Mandela and
          violating its new Constitution
          towards a "<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>."</p>
        <p>For interest read Nelson Demille's latest book "The Deserter." <br>
          Set in Venezuela the
          author gives South Africans
          a taste of things to come
          and where we are headed under those driving the "gangster state."  For those who will not read this book <a href="/images/venezuela.jpg" target="_blank">click here for a cartoon showing you the problem in a few seconds</a>.<br>
          A quick glance over the border at the state of Zimbabwe, as empirical evidence of failed communist ideology, is surely enough to illustrate the clear and present danger
          for South Africa as we look at the
          result of this country at
          the hand of their own
          liberating idiots.<br>
          <img alt="" class="img-fluid" src="/images/deserter.jpg" ><br>
          <br>
          Sadly &quot;joining the dots&quot;
          from the home page of PMWay
          is what is required to fix
          South Africa, <br>
          which &quot;way&quot;
          is totally lost on those in
          government.  They do not know (or care to know) what they need to know to make the changes needed to move up and out of the "Danger / Non Existance condition" South Africa has been plunged into by thier ignorance. <br>
          <a href="/home/gamestats" target="_blank">(click here to see how survival conditions and production stats are related)</a><br>
          I.e. the Absolutely No Clue
          party are unable to pull
          South Africa up and out of
          its &quot;economic dive to
          destruction&quot; so to escape
          the inevitable crash that
          always follows the rhetoric,
          and proven lack of substance
          that is <a href="/homeviewpdf/resources/communism.pdf" target="_blank" title="Click the cartoon for the low down on Communism and why it is the FOCUS OF THE CONCENTRATED EVIL OF OUR TIME." ><u>Communism and Socialism (The FOCUS OF THE CONCENTRATED EVIL OF OUR TIME)</u>.</a><br>
          Ultimately, <b>using hate</b>, these ideologies are designed to enrich only the "gangsters in state" but never the people they cliam to want to <b>liberate</b>.<br>
          <br>
          The image below explains their
          ignorant calls for <b>"economic freedom"</b> and <b>"redistribution of wealth"</b> and <b>"expropriation of land"</b> nonsense (essentially stealing what they do not have which is contrary to the aims of the Constitution) <b>in a nut shell!</b></p>
        <p><img alt="" class="img-fluid" src="/images/socialism.jpg" ><br>
          <br>
          The question is simple:&nbsp;
          Are they morons? (who can
          possibly be educated and
          helped for the good of South
          Africa), <br>
          <b>or...</b> irredeemable (EVIL)
          criminals? <br>
          <br>
          PMWay was built in hope of the former but based on <a href="/homeviewpdf/resources/communism.pdf" target="_blank"><u>the empirical evidence</u></a> strongly suspects the latter.<br>
          <br>
          For more on this <a href="/sa">click here</a> <br>
          and find our simple solution to the problem at the bottom of the page!</p>
      </div>
      <div class="card-footer"> </div>
    </div>
  </div>
</div>
<div align="left"><br>
  <br>
  <h3>Some words to <a href="/studymethods" target="_blank">study (word clear)</a></h3>
  <p> To facilitate a deeper understanding of the issues pertaining to a
    seriuos lack of morality and ethics awareness in South Africa's <i><b>callow</b></i> governing party</p>
  <img class="img-fluid" src="/images/tipoftheiceberg.jpg" ><br>
  <hr>
  <div class="container">
    <div id="accordion" class="accordion">
      <div class="card ">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1"> <a class="card-title"> Constitution </a> </div>
        <div id="collapse1" class="card-body collapse" data-parent="#accordion">
          <h3>Constitution</h3>
          <br>
          <div align="center"> </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"> <a class="card-title"> Disrespect </a> </div>
        <div id="collapse2" class="card-body collapse" data-parent="#accordion">
          <h3>Disrespect</h3>
          <br>
          <div align="center"> </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> <a class="card-title"> Mountebank </a> </div>
        <div id="collapse3" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Mountebank</h3>
            <br>
            <div align="center"> </div>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"> <a class="card-title"> Sophist </a> </div>
        <div id="collapse4" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Sophist</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"> <a class="card-title"> Ignoramus </a> </div>
        <div id="collapse5" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Ignoramus</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6"> <a class="card-title"> Dissapointment </a> </div>
        <div id="collapse6" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3> Dissapointment</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7"> <a class="card-title"> Specious </a> </div>
        <div id="collapse7" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Specious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8"> <a class="card-title"> Spurious </a> </div>
        <div id="collapse8" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Spurious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9"> <a class="card-title"> Apocryphal </a> </div>
        <div id="collapse9" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Apocryphal</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10"> <a class="card-title">Ersatz </a> </div>
        <div id="collapse10" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Ersatz</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11"> <a class="card-title"> Skulduggery </a> </div>
        <div id="collapse11" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Skulduggery</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12"> <a class="card-title"> Machinations </a> </div>
        <div id="collapse12" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Machinations</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13"> <a class="card-title"> Hornswoggle </a> </div>
        <div id="collapse13" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Hornswoggle</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14"> <a class="card-title"> Bellicose </a> </div>
        <div id="collapse14" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Bellicose</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15"> <a class="card-title"> Scabrous </a> </div>
        <div id="collapse15" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Scabrous</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16"> <a class="card-title"> Truculent </a> </div>
        <div id="collapse16" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Truculent</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17"> <a class="card-title"> Contumacious </a> </div>
        <div id="collapse17" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Contumacious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18"> <a class="card-title"> Greedy </a> </div>
        <div id="collapse18" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Greedy</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19"> <a class="card-title"> Rapacious </a> </div>
        <div id="collapse19" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Rapacious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20"> <a class="card-title"> Evil </a> </div>
        <div id="collapse20" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Evil</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21"> <a class="card-title"> Procrustean </a> </div>
        <div id="collapse21" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Procrusteans</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22"> <a class="card-title"> Maladministration </a> </div>
        <div id="collapse22" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Maladministration</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23"> <a class="card-title"> Maladroit </a> </div>
        <div id="collapse23" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Maladroit</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24"> <a class="card-title"> Malfeasance </a> </div>
        <div id="collapse24" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Malfeasance</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse25"> <a class="card-title"> Malefactor </a> </div>
        <div id="collapse25" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Malefactor</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse26"> <a class="card-title"> Venal </a> </div>
        <div id="collapse26" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Venal</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse27"> <a class="card-title"> Insidious </a> </div>
        <div id="collapse27" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Insidious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse28"> <a class="card-title"> Insvidious </a> </div>
        <div id="collapse28" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Invidious</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse29"> <a class="card-title"> Turpitude </a> </div>
        <div id="collapse29" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Turpitude</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse30"> <a class="card-title"> Inchoate </a> </div>
        <div id="collapse30" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Inchoate</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse31"> <a class="card-title"> Callow </a> </div>
        <div id="collapse31" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Callow</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse32"> <a class="card-title"> Dillettante </a> </div>
        <div id="collapse32" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Dilletante</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse33"> <a class="card-title"> Purile </a> </div>
        <div id="collapse33" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Purile</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse34"> <a class="card-title"> Childish</a> </div>
        <div id="collapse34" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Childish</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse35"> <a class="card-title"> Immature</a> </div>
        <div id="collapse35" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Immature</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse36"> <a class="card-title"> Gaslighting</a> </div>
        <div id="collapse36" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Gaslighting</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse37"> <a class="card-title"> Terrorize</a> </div>
        <div id="collapse37" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Terrorize</h3>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse38"> <a class="card-title">Xenophobia</a> </div>
        <div id="collapse38" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h3>Xenophobia</h3>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <br>
    <script>
function myFunction() {
      alert("This page in PMWay web is a sandbox to investigate the problems in South Africa via a creative situational analysis.  Pictures and cartoons are used to understand the CM Level ZERO games being played. A Disclaimer applies as criticisms on this page are hard hitting! (but what if the shoe fits?). If you have a 'pigeon brain' and take offense at PMWay's observations, please leave immediately!");}

myFunction()
</script>
  </div>
</div>
<!-- Content Container ends here -->

{% endif %}


{% endblock %}
