{% extends 'simplemedia.twig' %}
{% block title %} {% if not user %}PMWay{% endif %} {% if user %}DA Speech 2020{% endif %}  {% endblock %}
{% block body %}
{% if user %}<!--BODY-->

<div class="container">
<h3>The Democratic Alliance Speech in reply to SONA 2020</h3>
<hr>
<p><a href="/home/carousel?slide=4" target="_blank">Click here to understand Capability Maturity Level ZERO</a></p>
<p><!--Sadly (for the Rainbow Nation) the pigeons were not listening to this speech, captured in the video below.  <br><br>So desperate where the Absolutely No Clue for the EFF speech (following
directly after), in order to tackle this pigeon for the disrespect he showed for Ramaphoria's attempt at a State Of The Nation (SONA 2020) address two days before, most missed its import, if their bird brains could even have comprehended its dire warnings.<br><br>-->For those with a brain watching the embarrassing events at SONA 2020, after
  being forced to witness over 2 decades as the
  Absolutely No Clue party have systematically destroyed our dreams, stealing billions from the people (with
  no one yet in jail), the speech from the DA was
  the only intelligent moment as the sun sets on South Africa.<br>
  <br>
  A look across the border at the devastation caused by the communists / "liberators?" in Zimbabwe is empirical evidence of the clear and present danger (<a href="/homeviewpdf/resources/communism.pdf" target="_blank">as a focus of concentrated evil and ignorance in our time</a>) we (58 million souls) in South Africa face at their hands.</p>
<p><a href="#playlist">PLAYLIST</a></p>
<div id="player" align="center">
  <!-- video source and track elements will be populated from playlist -->
  <video id="video1" preload="false" data-able-player playsinline loop></video>
</div>
<div id="playlist">
<h2><a name="playlist"></a>Playlist</h2>
<!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
<!-- The value of data-player must match the id of the media element -->
<!-- see documentation for additional details -->
<ul class="able-playlist" data-player="video1">
  <li  data-poster="/images/blackrainbow.jpg" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/dasona.mp4"> </span>
    <button type="button"> <img src="/images/blackrainbow.jpg" alt="">DA speech says it all.  The last glimmer of hope for ZA.  Not understood at all by the absolutely no clue </button>
  </li>
  <li  data-poster="/images/pigeonbrainslarger.jpg" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/pigeoneff.mp4"> </span>
    <button type="button">
    <img src="/images/pigeonbrainslarger.jpg" alt=""><a href="/homeviewpdf/resources/communism.pdf" target="_blank"><u>EFF pigeons (as communists) goal : break everything down so we can rise up<br>
    Essentially Communism is "the concentrated evil of our time!"  Watch the video to see how it works!<br>
    </u></a> Click the link above to get their evil game
    </button>
  </li>
  <li  data-poster="/images/ancgupta.JPG" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/pigeonancgupta.mp4"> </span>
    <button type="button">
    <img src="/images/ancgupta.JPG" alt="">DECIDED NOT TO SHOW RAMAPHORIA'S 2020 SONA SPEECH. <br>
    Chose this one as more accurate appraisel of happenings on his watch. <br>
    <br>
    Essentially the SONA speech had NO FRESH NEWS.  Except for the usual pie in the sky rubbish (fiddling - stealing from the Rainbow Nation - while Rome burns!) from someone pretending their party has the skills to make real changes for the good but who was in fact deeply embedded in the ANC while governance was being systematically dismantled to facilitate state capture. <br>
    And these pigeons, after their BBBEE games of marginalizing skills and experience in the Rainbow Nation now want to implement EWC. Any idiot with half a brain (unless you have a bird brain) will be able to look across at Zimbabwe and see the total devastation that EWC has caused.  Why is SA <a href="/home/gamestats" target="_blank">down stat?</a> The answer:  BBBEECause! <br>
    BBBEE as a policy was implemented by the ANC primarily so they can destroy the Rainbow Nation and remove professionals who enforce professionalism and good governance, swapping these for incompetent, inexperinced, unqualified and totally useless cadre deployment, in order to be able to steal from the people with impunity. <br>
    <br>
    Shame on you and the party you stand for mr president!&nbsp;
    You, and same, have lost all credibility and will continue to do so.  Why?  Because you (and same) clearly evidenced Internationally have absolutely no clue!<br>
    Why is it, despite your fervent promises on election, that nobody is yet in jail for treason and stealing billions from the Rainbow Nation, for actions in definance and clear distrespect of the law <br>
    Id est: to hell with the PFMA, Generally Accepted Accounting Practice and Good Governance!
    To hell with the Rainbow Nation, as an attitude with a CM Level ZERO agenda is clearly explained in the document &nbsp;"<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>&quot;

    !?
    </button>
  </li>
</ul>
<br>
<br>
<p align="center"><img class="img-fluid" src="/images/pigeonbrainslarger.jpg" ></p>
<p align="center"><img class="img-fluid" src="/images/lordhelpus.jpg"></p>
<br>
<br>
<div align="center">
  <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsepigeonproblem" aria-expanded="false" aria-controls=
        "collapsepigeonproblem">Pigeon <br>
  control<br>
  </button>
  <div class="collapse" id="collapsepigeonproblem">
    <div class="container">
      <div class="card text-center">
        <h5 class="card-header" align="center">Note:  Below is opinion from PMWay. <br>
          If you do not agree (can't get it)<br>
          fly away now!</h5>
        <div class="card-body text-center">
          <h3>Billions of Rands stolen by the South African ANC Government and no one goes to jail!</h3>
          Sadly, and when dealing with those who have Absolutely No Clue...<br>
          <b>"Arguing with an idiot is like playing chess with a pigeon!
          It'll just knock over all the pieces, shit on the board,<br>
          and strut about like it's won anyway."</b><br>
          <img alt="Playing chess with a pigeon brain" class="img-fluid" src="/images/pigeonandchess.png"><br>
          <br>
          <a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO" target="_blank" title="Click here for one of many articles from the National Press in South Africa that illustrates the facts">Click here for some of the
          many news articles that
          clearly evidence <br>
          Capability Maturity Level ZERO in South Africa</a><br>
          Id est: to hell with the PFMA, Generally Accepted Accounting Practice and Good Governance!<br>
          To hell with the Rainbow
          Nation, as an attitude with a CM Level
          ZERO agenda<br>
          is clearly explained in the document<br>
          &nbsp;"<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>."<br>
          <br>
          Yet, even after Ramaphoria
          has explicitly promised to
          deal with the problem<br>
          <b> WHY IS NO ONE FOUND GUILTY AND PUT INTO JAIL!</b><br>
          <br>
          BOTTOM LINE <br>
          <img alt=""  class="img-fluid" src="/images/wall%20and%20resources.jpg"><br>
          <br>
          Enter /sa for more &quot;hard hitting&quot; observations
          about the New South Africa,<br>
          but also some tips about CM
          L2 behavior and how it can assist South Africa <br>
          (of which this web site is a contribution if only you are able to "<a href="/" target="_blank">join the dots</a>.")<br>
          And also, if interested, find out how to deal with their &quot; gas lighting&quot; games they a re playing with the Rainbow Nation, <br>
          obviously their cruel manipulative tactic to
          keep the &quot;herd&quot; scared and
          disorientated,<br>
          while this
          greedy gang of thieves<br>
          clearly (as the shoe fits) demonstrated by their own actions to be the "non believers" we hoped they were not; <br>
          who continue to loot
          the Rainbow Nation's
          resources.<br>
          <br>
          Some final
          thoughts<br>
          Trevor
          Noah:&nbsp; Born a Crime
          under Apartheid!<br>
          The absolutely no clue:&nbsp;
          Born to Commit Crime against
          the Rainbow Nation!<br>
          jacob
          zuma (and other state capture gang members):&nbsp; Enemy #1 of the
          people of South Africa!<br>
          <h3>Shame on you all!</h3>
        </div>
        <div class="card-footer"> </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<script>
function myFunction() {
      alert("This page in PMWay web is a sandbox to investigate the problems in South Africa via a creative situational analysis.  Pictures and cartoons are used to understand the CM Level ZERO games being played. A Disclaimer applies as criticisms on this page are hard hitting! (but what if the shoe fits?). If you have a 'pigeon brain' and take offense at PMWay's observations, please leave immediately!");}

myFunction()
</script>

<!--ENDBODY-->

{% endif %}


{% if not user %}<div class="container" align="left" ><h3 align="left">Please log on to access the content on this page</h3><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>{% endif %}{% if not current_user and false %}

 <!--switch to turn off not logged on access-->

<div class="container">
<h3>The Democratic Alliance Speech in reply to SONA 2020</h3>
<hr>
<p><a href="/pmway/?slide=4" target="_blank">Click here to understand Capability Maturity Level ZERO</a></p>
<p><!--Sadly (for the Rainbow Nation) the pigeons were not listening to this speech, captured in the video below.  <br><br>So desperate where the Absolutely No Clue for the EFF speech (following
directly after), in order to tackle this pigeon for the disrespect he showed for Ramaphoria's attempt at a State Of The Nation (SONA 2020) address two days before, most missed its import, if their bird brains could even have comprehended its dire warnings.<br><br>-->For those with a brain watching the embarrassing events at SONA 2020, after
  being forced to witness over 2 decades as the
  Absolutely No Clue party have systematically destroyed our dreams, stealing billions from the people (with
  no one yet in jail), the speech from the DA was
  the only intelligent moment as the sun sets on South Africa.<br>
  <br>
  A look across the border at the devastation caused by the communists / "liberators?" in Zimbabwe is empirical evidence of the clear and present danger (<a href="/homeviewpdf/resources/communism.pdf" target="_blank">as a focus of concentrated evil and ignorance in our time</a>) we (58 million souls) in South Africa face at their hands.</p>
<p><a href="#playlist">PLAYLIST</a></p>
<div id="player" align="center">
  <!-- video source and track elements will be populated from playlist -->
  <video id="video1" preload="false" data-able-player playsinline loop></video>
</div>
<div id="playlist">
<h2><a name="playlist"></a>Playlist</h2>
<!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
<!-- The value of data-player must match the id of the media element -->
<!-- see documentation for additional details -->
<ul class="able-playlist" data-player="video1">
  <li  data-poster="/images/blackrainbow.jpg" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/dasona.mp4"> </span>
    <button type="button"> <img src="/images/blackrainbow.jpg" alt="">DA speech says it all.  The last glimmer of hope for ZA.  Not understood at all by the absolutely no clue </button>
  </li>
  <li  data-poster="/images/pigeonbrainslarger.jpg" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/pigeoneff.mp4"> </span>
    <button type="button">
    <img src="/images/pigeonbrainslarger.jpg" alt=""><a href="/homeviewpdf/resources/communism.pdf" target="_blank"><u>EFF pigeons (as communists) goal : break everything down so we can rise up<br>
    Essentially Communism is "the concentrated evil of our time!"  Watch the video to see how it works!</u></a>&nbsp; <br>
    Click the link above to get their evil game
    </button>
  </li>
  <li  data-poster="/images/ancgupta.JPG" data-width="480" data-height="360"> <span class="able-source"
					data-type="video/mp4"
					data-src="/ablelvids/dasona/pigeonancgupta.mp4"> </span>
    <button type="button">
    <img src="/images/ancgupta.JPG" alt="">DECIDED NOT TO SHOW RAMAPHORIA'S 2020 SONA SPEECH. <br>
    Chose this one as more accurate appraisel of happenings on his watch. <br>
    <br>
    Essentially the SONA speech had NO FRESH NEWS.  Except for the usual pie in the sky rubbish (fiddling - stealing from the Rainbow Nation - while Rome burns!) from someone pretending their party has the skills to make real changes for the good but who was in fact deeply embedded in the ANC while governance was being systematically dismantled to facilitate state capture. <br>
    And these pigeons, after their BBBEE games of marginalizing skills and experience in the Rainbow Nation now want to implement EWC. Any idiot with half a brain (unless you have a bird brain) will be able to look across at Zimbabwe and see the total devastation that EWC has caused.  Why is SA <a href="/home/gamestats" target="_blank">down stat?</a> The answer:  BBBEECause! <br>
    BBBEE as a policy was implemented by the ANC primarily so they can destroy the Rainbow Nation and remove professionals who enforce professionalism and good governance, swapping these for incompetent, inexperinced, unqualified and totally useless cadre deployment, in order to be able to steal from the people with impunity. <br>
    <br>
    Shame on you and the party you stand for mr president!&nbsp;
    You, and same, have lost all credibility and will continue to do so.  Why?  Because you (and same) clearly evidenced Internationally have absolutely no clue!<br>
    Why is it, despite your fervent promises on election, that nobody is yet in jail for treason and stealing billions from the Rainbow Nation, for actions in definance and clear distrespect of the law <br>
    Id est: to hell with the PFMA, Generally Accepted Accounting Practice and Good Governance!
    To hell with the Rainbow Nation, as an attitude with a CM Level ZERO agenda is clearly explained in the document &nbsp;"<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>&quot;

    !?
    </button>
  </li>
</ul>
<br>
<br>
<p align="center"><img class="img-fluid" src="/images/pigeonbrainslarger.jpg" ></p>
<p align="center"><img class="img-fluid" src="/images/lordhelpus.jpg"></p>
<br>
<br>
<div align="center">
  <button class="btn btn-primary align-center clearfix" type="button" data-toggle=
"collapse" data-target="#collapsepigeonproblem" aria-expanded="false" aria-controls=
        "collapsepigeonproblem">Pigeon <br>
  control<br>
  </button>
  <div class="collapse" id="collapsepigeonproblem">
    <div class="container">
      <div class="card text-center">
        <h5 class="card-header" align="center">Note:  Below is opinion from PMWay. <br>
          If you do not agree (can't get it)<br>
          fly away now!</h5>
        <div class="card-body text-center">
          <h3>Billions of Rands stolen by the South African ANC Government and no one goes to jail!</h3>
          Sadly, and when dealing with those who have Absolutely No Clue...<br>
          <b>"Arguing with an idiot is like playing chess with a pigeon!
          It'll just knock over all the pieces, shit on the board,<br>
          and strut about like it's won anyway."</b><br>
          <img alt="Playing chess with a pigeon brain" class="img-fluid" src="/images/pigeonandchess.png"><br>
          <br>
          <a href="/blogger/Blog.php?category=Capability%20Maturity%20Level%20ZERO" target="_blank" title="Click here for one of many articles from the National Press in South Africa that illustrates the facts">Click here for some of the
          many news articles that
          clearly evidence <br>
          Capability Maturity Level ZERO in South Africa</a><br>
          Id est: to hell with the PFMA, Generally Accepted Accounting Practice and Good Governance!<br>
          To hell with the Rainbow
          Nation, as an attitude with a CM Level
          ZERO agenda<br>
          is clearly explained in the document<br>
          &nbsp;"<a href="/homeviewpdf/resources/betrayalofthepromise.pdf" target="_blank">betrayal of the promise</a>."<br>
          <br>
          Yet, even after Ramaphoria
          has explicitly promised to
          deal with the problem<br>
          <b> WHY IS NO ONE FOUND GUILTY AND PUT INTO JAIL!</b><br>
          <br>
          BOTTOM LINE <br>
          <img alt=""  class="img-fluid" src="/images/wall%20and%20resources.jpg"><br>
          <br>
          Enter /sa for more &quot;hard hitting&quot; observations
          about the New South Africa,<br>
          but also some tips about CM
          L2 behavior and how it can assist South Africa <br>
          (of which this web site is a contribution if only you are able to "<a href="/" target="_blank">join the dots</a>.")<br>
          And also, if interested, find out how to deal with their &quot; gas lighting&quot; games they a re playing with the Rainbow Nation, <br>
          obviously their cruel manipulative tactic to
          keep the &quot;herd&quot; scared and
          disorientated,<br>
          while this
          greedy gang of thieves<br>
          clearly (as the shoe fits) demonstrated by their own actions to be the "non believers" we hoped they were not; <br>
          who continue to loot
          the Rainbow Nation's
          resources.<br>
          <br>
          Some final
          thoughts<br>
          Trevor
          Noah:&nbsp; Born a Crime
          under Apartheid!<br>
          The absolutely no clue:&nbsp;
          Born to Commit Crime against
          the Rainbow Nation!<br>
          jacob
          zuma (and other state capture gang members):&nbsp; Enemy #1 of the
          people of South Africa!<br>
          <h3>Shame on you all!</h3>
        </div>
        <div class="card-footer"> </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!--
<script>
function myFunction() {
      alert("This page in PMWay web is a sandbox to investigate the problems in South Africa via a creative situational analysis.  Pictures and cartoons are used to understand the CM Level ZERO games being played. A Disclaimer applies as criticisms on this page are hard hitting! (but what if the shoe fits?). If you have a 'pigeon brain' and take offense at PMWay's observations, please leave immediately!");}

myFunction()
</script>

-->

<!--ENDBODY-->

{% endif %}
{% endblock %}
